---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css"
import "../styles/normalize.css"
import Liste from "../components/Liste.astro";

const data = await fetch("https://zjnxsqqsmngkuukudtjx.supabase.co/rest/v1/copenhagenLightFestival",
{
	method: "GET",
	headers:{
		apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpqbnhzcXFzbW5na3V1a3VkdGp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU4OTA0MjgsImV4cCI6MjAxMTQ2NjQyOH0.rXSQvsHgfJeRYcdBgI1y6UDJ_ZypGEgDKuU_cxn36Ps"
	}
}
).then(res=>res.json());

---


	<MainLayout title="Værker">

		<h1>Værker</h1>

<section>
	{
		data.map((show)=>{
			return <Liste data={show}/>;
		})
	}
	
  
</section>	

	</MainLayout>

<style>
	 h1, h2{
    color: #ffffff;
      font-family: Helvetica;
      font-weight: 400;
      text-transform: uppercase;
      
}

 h1{
    font-size: 50px;
    margin-left: 2rem;
      margin-top: 10rem;
      margin-bottom: 1rem;
      line-height: 1.25;
}
</style>