---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css"
import "../styles/normalize.css"

---

<MainLayout title="Ruter">


<h1>Ruter</h1>

<section>
<img src="/ruter.webp" alt="">
</section>	

</MainLayout>

<style>
	 h1, h2{
    color: #ffffff;
      font-family: Helvetica;
      font-weight: 400;
      text-transform: uppercase;
      
}

 h1{
    font-size: 50px;
    margin-left: 2rem;
      margin-top: 10rem;
      margin-bottom: 1rem;
      line-height: 1.25;
}
</style>