---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css"
import "../styles/normalize.css"

---

<MainLayout title="Ruter">


<h1>Ruter</h1>

<section>
	<div class="download_knap">
<a href="/hvid_pdf.pdf">Download rute som pdf</a>
</div>
<img class="desktoprute" src="/ruter.webp" alt="rute">
<img class="mobilrute" src="/mobilrute.webp" alt="mobilrute">



</section>	

</MainLayout>

<style>


	a, h1, h2{
    color: #ffffff;
      font-family: Helvetica;
      font-weight: 600;
      text-transform: uppercase;
      
}




img
{width: 100%;}

 section {
        margin: 30px 20px 100px 30px
    } 

	.download_knap {
margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    .desktoprute {
        display: none;
    }
}

	@media screen and (min-width: 800px) {
    .mobilrute {
        display: none;
    }
a {font-size: 20px;}

	}
 h1{
    font-size: 50px;
	font-weight: 500;
    margin-left: 2rem;
      margin-top: 10rem;
      margin-bottom: 1rem;
      line-height: 1.25;
}
</style>