---

---

<div class="grid1-1-events">
    <h1>
        Værker
      </h1>
    <a href="/listeview">alle værker</a>
    </div>
    <div class="slider-container">
        <a href="/listeview">
        <div class="slider">
            <img src="/InsekternesBlik1.webp" alt="Image 1">
            <img src="/img2.webp" alt="Image 2">
            <img src="/img3.webp" alt="Image 3">
            <img src="/img4.webp" alt="Image 4">
            <img src="/img5.webp" alt="Image 5">
            <img src="/img6.webp" alt="Image 6">
            <img src="/img7.webp" alt="Image 7">
            <img src="/img8.webp" alt="Image 8">
            <img src="/img9.webp" alt="Image 9">
            <img src="/img10.webp" alt="Image 10">
            <img src="/img11.webp" alt="Image 11">
        </div>
    </a>
        <button class="prev-btn">
          <img src="/ArrowPrevious.svg" alt="Arrow previos">
        </button>
        <button class="next-btn">
          <img src="/ArrowNext.svg" alt="Arrow next">
        </button>
    </div>
   
  

<style>

h1{
    color: #FFFEFE;
    
      font-family: Helvetica;
      font-weight: 400;
      line-height: 1.25;
      text-transform: uppercase;
      font-size: 30px;
      margin-left: 2rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
     
      
}
a{
            color: #FFFEFE;
              font-family: Helvetica;
              font-weight: 200;
              line-height: 1.25;
              text-transform: uppercase;
              text-decoration: underline;
              font-size: 20px;
              margin-top: 10rem;
              margin-bottom: 1rem;
              margin-left: 2rem;
              margin-right: 0;
                     letter-spacing: 0.1rem;

              
        }
        .slider-container {
            position: relative;
            width: 100%;
            max-width: 1700px; /* Adjust the width as needed */
            overflow: hidden;
            
        }
        
        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        
        .slider img {
            width: 100%;
            height: auto;
            padding-left: 20px;
        }


button.prev-btn,
button.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button.prev-btn {
    left: 3%;
    top: 50%;
}

button.next-btn {
    right: 3%;
    top: 50%;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 100px; /* Adjust the button width as needed */
    height: 100px; /* Adjust the button height as needed */
    transition: opacity 0.3s ease-in-out;
}

.prev-btn img,
.next-btn img {
    width: 50%;
    height: 50%;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 0.8; /* Adjust the hover opacity as desired */
}
@media screen and (min-width: 768px) {
    .slider-container {
        margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 5rem;
    max-width: 1700px; /* Adjust the width as needed */

    }

    .prev-btn img,
.next-btn img {
    width: 100%;
    height: 100%;
}



.slider img {
    width: 100%;
    height: auto;
padding-left: 20px;
}
.slider img:hover {
    transform: scale(1.1);
}
.grid1-1-events{
            display: flex;
  justify-content: space-between;
  align-items: center;
        }
h1{
    color: #FFFEFE;
    /* color:red; */
      font-family: Helvetica;
      font-weight: 400;
      line-height: 1.25;
      text-transform: uppercase;
      font-size: 50px;
      margin-left: 3rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
     
      
}
a{
            color: #FFFEFE;
              font-family: Helvetica;
              font-weight: 200;
              line-height: 1.25;
              text-transform: uppercase;
              text-decoration: underline;
              font-size: 25px;
              margin-top: 5rem;
              margin-bottom: 1rem;
           letter-spacing: 0.1rem;
           margin-right: 3rem;
             
              
        }
        a:hover{
            color: #7b7b7b;
        }




}


</style>

<script>
    console.log("HEJ FRA JS!")
    const slider = document.querySelector('.slider');
    const prevBtn = document.querySelector('.prev-btn');
    const nextBtn = document.querySelector('.next-btn');
    
    let currentIndex = 0;
    
    function slideTo(index) {
        const slideWidth = slider.clientWidth;
        const offset = -index * slideWidth;
        slider.style.transform = `translateX(${offset}px)`;
    }
    
    function prevSlide() {
        console.log("PREV");
        currentIndex = (currentIndex - 1 + slider.childElementCount) % slider.childElementCount;
        slideTo(currentIndex);
    }
    
    function nextSlide() {
        console.log("NEXT");
        currentIndex = (currentIndex + 1) % slider.childElementCount;
        slideTo(currentIndex);
    }
    
    prevBtn.addEventListener('click', prevSlide);
    nextBtn.addEventListener('click', nextSlide);
    
    
    </script>
