<footer>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, aut! Esse impedit culpa quae odit, sunt voluptates debitis laboriosam eius eligendi vel fugit saepe maxime perferendis, accusantium, quisquam animi ullam.</p>

</footer>

<style>
    p{
        color: #fff;
    }
</style>