---
---

<h1>
    Ruter
  </h1>

  <div class="image-container">
 <a href="#"><img src="/ruteapp.svg" alt="Rute App"></a> 
</div>
 
 <style>

h1{
    color: #ffffff;
      font-family: Helvetica;
      font-weight: 400;
      line-height: 1.25;
      text-transform: uppercase;
      font-size: 50px;
      margin-left: 2rem;
      margin-top: 10rem;
      margin-bottom: 1rem;
     
      
}


.mage-container{
    position: relative;
    width: 100vh; /* Adjust the initial image width as needed */
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.1); /* Increase the scale factor to make the image larger */
}


a img{
    width: 60%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10rem;
    margin-top: 1rem;
    
}
 </style>