---
---

<div class="slideshow-container">
  <video class="video-frontpage" autoplay loop muted>
    <source src="https://emiliaivarsdottir.dk/kea/clf.mp4" type="video/mp4">
</video>
 
</div>

<!-- <div class="wrapper">
    <div class="box-1">
        <img class="video-frontpage" src="/slider.webp" alt="slider">
    </div>

    <div class="box-2">
      <h1 class="h1_norrebro">Copenhagen Light Fesival
        <br/> Februar 2024</h1>
    </div>

  </div>

  -->

  <style> 
.video-frontpage {
  width: 100%;
  display: block;
  margin-top: 60px;
}
h1{
    color: #ffffff;
      font-family: Helvetica;
      font-weight: 400;
      line-height: 1.25;
      text-transform: uppercase;
      font-size: 22px;
      margin-left: 2rem;
      /* background-color: #000000B3; */
     
     
      
}

/*
.wrapper {
  display: grid;
}

.box-1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
  z-index: -1;
  
}

.box-2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 8;
    z-index: 1;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
  }

  .box-2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 8;
    z-index: 1;
  }

  h1{
    font-size: 65px;
     margin-top: 5rem;
      margin-top: 0;
      margin-bottom: 0;
  }

 .video-frontpage {
  width: 100%;
}

}

/* Img */
/* 
.video-frontpage {
  max-width: 100vw;
  display: block;
  object-fit: cover;
} */
  </style>


<script>
  let slideIndex = 0;
showSlides();

function showSlides() {
  const slides = document.getElementsByClassName("slide");
  for (let i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {
    slideIndex = 1;
  }
  slides[slideIndex - 1].style.display = "block";
  setTimeout(showSlides, 1000); // Change slide every 3 seconds
}

</script>